build/
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.DS_Store
.#*
._*
Thumbs.db
.cache
.tmproj
*.sublime-project
*.sublime-workspace
DerivedData
test-reports

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
*.xccheckout